body { 
    background: radial-gradient(circle, rgba(2,0,36,1) 93%, rgba(37,1,1,1) 97%, rgba(78,2,2,1) 100%);
    cursor: url(https://cur.cursors-4u.net/others/oth-2/oth110.cur), auto !important;
}

.card_container_border {
    width: 900px;
    height: 900px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 5px solid white; */
    /* background-color: white; */
}

.border {
    max-width: 900px;
    max-height: 900px;
    position: absolute;
}

.card_container {
    width: 890px;
    height: 890px;
    margin:auto;
    background-color: red;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    
}

.element_container {
    width: 900px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h3 {
    color: red;
    padding-inline: 10px 5px;
}

h3:hover {
    cursor: url(https://cur.cursors-4u.net/others/oth-2/oth115.cur), auto !important;
}
